@model MovieViewModel
@using SimpleMVC.Controllers;
@using SimpleMVC.Data.Enums

@{
    ViewData["Title"] = "Update Movie";
}
    <div class="row text">
        <div class="col-md-8 offset-2">
            <h1 style="text-align: center; margin-bottom: 20px;">Update Movie</h1>
            <div class="row">
                <div class="col-md-8 offset-2">
                <form asp-action="Edit" enctype="multipart/form-data" id="editForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger">
                        </div>
                        <input type="hidden" asp-for="Movie.Id" value="@Model.Movie.Id"/> 
                        <div class="form-group text-center">
                        @{
                            var base64String = Model.Movie.PictureData != null ? Convert.ToBase64String(Model.Movie.PictureData) : string.Empty;
                        }
                        <img class="border-info rounded-3 movie-image-rounded" id="MoviePicturePreview"
                             src="data:image/png;base64,@base64String" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Movie.Name" class="control-label"></label>
                            <input asp-for="Movie.Name" class="form-control" />
                            <span asp-validation-for="Movie.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Movie.Description" class="control-label"></label>
                            <input asp-for="Movie.Description" class="form-control" />
                            <span asp-validation-for="Movie.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Movie.StartDate" class="control-label"></label>
                            <input asp-for="Movie.StartDate" type="date" class="form-control" />
                            <span asp-validation-for="Movie.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Movie.EndDate" class="control-label"></label>
                            <input asp-for="Movie.EndDate" type="date" class="form-control" />
                            <span asp-validation-for="Movie.EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Movie.Price" class="control-label"></label>
                            <input asp-for="Movie.Price" type="number" step="0.01" class="form-control" />
                            <span asp-validation-for="Movie.Price" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Movie.Producer"></label>
                            <select asp-for="Movie.ProducerId" class="form-control">
                                @foreach (var producer in Model.Producers)
                                {
                                    <option value="@producer.Id">@producer.FullName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Movie.Cinema"></label>
                            <select asp-for="Movie.CinemaId" class="form-control">
                                @foreach (var cinema in Model.Cinemas)
                                {
                                    <option value="@cinema.Id">@cinema.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Movie.MovieCategory"></label>
                            <select asp-for="Movie.MovieCategory" class="form-control">
                                @foreach (var category in Enum.GetValues(typeof(MovieCategory)))
                                {
                                    <option value="@category">@category</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mb-3 custom-file">
                            <label asp-for="Movie.PictureData" class="custom-file-label me-2">Select image for Movie</label>
                            <input asp-for="Movie.PictureData" name="moviePictureData" type="file" class="custom-file-input" id="MoviePictureData">
                        </div>
                        <div class="form-group">
                        <a class="btn btn-outline-danger float-end mx-1" asp-action="Delete" asp-route-id="@Model.Movie.Id">
                            <i class="bi bi-trash"></i> Delete</a>
                            <input type="button" value="Update" class="btn btn-outline-success float-end" onclick="updateForm()" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                            <input type="hidden" name="moviePictureDataString" value="@Convert.ToBase64String(Model.Movie.PictureData!)" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>



@section Scripts {
    <script>
        function updateForm() {
            var newImage = document.getElementById('MoviePictureData').files[0];
            if (newImage) {
                var output = document.getElementById('MoviePicturePreview');
                var reader = new FileReader();

                reader.onload = function (e) {
                    output.src = e.target.result;
                    document.getElementById('editForm').submit();
                }

                reader.readAsDataURL(newImage);
            } else {
                document.getElementById('editForm').submit();
            }
        }
    </script>
}